@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

header .bg-madera {
  background-image: url('resources/bg/header.jpg');
}

.menu-section .content {
  transition: height 0.3s ease-in-out;
}

#img-granvia {
  background-image: url('resources/img/granvia.png');
}

.gmap iframe {
  width: 100%;
  height: 410px;
  position: relative;
}