@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

header .bg-madera {
  background-image: url('resources/bg/header.jpg');
}
.menu-section .content {
  transition: height 0.3s ease-in-out;
}
